.ForImageInput{
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 2px dashed black;
      height: 300px;
      width: 500px;
      cursor: pointer;
      border-radius: 5px;
}
.FileNameDisplayBlock{
      margin-top: 10px;
      justify-content: center;
}

.FileNameDisplay{
      /* background-color: red; */
      /* margin-bottom: 1px; */
}
